.appHeader{
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    color: black;
    font-size: larger;
    padding: 10px 0;
    width: 100%;
    text-align: center;
    background-color: gold;
    font-family: Ayuthaya;

}
.logos{
    position: absolute;
    margin-top: 75px;

}
li{
    display:inline-block;
    flex-direction: row;
}

