.appHeader{

    overflow: visible;
    position: relative;
    height: 105px;
    background-color: gold;
    text-align: center;
}
.appHeader img{

    float: left;
    margin-top: 10px;
    position: relative;

}

h1{
    font-family: "Academy Engraved LET";
    color: black;
    font-size: 55px;

}
h2{
    font-size: 32px;
    color: gold;
    font-family: "Academy Engraved LET";
    text-align: center;
    height: 20px;
    position: relative;
    padding-top: 35px;


}



.logos{
    position: absolute;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    margin-left: 0;
    vertical-align: top;

}
.logos li{
    display:inline-block;
    flex-direction: row;
    opacity: 0.7;
    text-align: center;
}


li:hover {
    opacity: 1;
}

ul{
    margin-left: 35px;
}

.menu button{
    background: black;
    color: gold;
    border-radius: 8px;

}

.caption{
    display: block;
    color: gold;
    font-family:"Academy Engraved LET" ;
    font-size: 20px;

}
.logos a{
    text-decoration: none;
}

